{% extends "wwii_explorer/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block app_content %}
<h1>Welcome to the WWII Explorer!</h1>
<p>Check out the world powers. Click the "Start Exploring" button to begin exploring WWII Events.</p>
<p>Created by Shawn and Sam</p>
<div id="map" class="map">
    //<div id="popup" class="popup"></div>
</div>
{% endblock %}

{% block app_navigation_items %}
<li class="title">Event Navigation</li>
{% for event in events %}
    <li data-page="{{ event.page}}">{{ event.title }}</li>
{% endfor %}
<li><a href="{% url 'wwii_explorer:home' %}">Start Exploring</a></li>
{% endblock %}

{% block app_actions %}
<a href="{% url 'wwii_explorer:home' %}" id="btn-explore" class="btn btn-default">Start Exploring</a>
<a href="{% url 'wwii_explorer:home' %}" class="btn btn-default btn-event hidden">Previous Event</a>
<a href="{% url 'wwii_explorer:home' %}" class="btn btn-default btn-event hidden">Home</a>
<a href="{% url 'wwii_explorer:home' %}" class="btn btn-default btn-event hidden">Next Event</a>
{% endblock %}