{% extends "wwii_explorer/base.html" %}

{% load tethys_gizmos %}

{% load staticfiles %}

{% block app_content %}
<!--Create block for the map and popup information bubbles-->
<div id="map" class="map">
</div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

{% endblock %}

{% block app_navigation_items %}
<li class="title">Event Navigation</li>
{% for event in events %}
<li class="hidden nav-item" data-page="{{ event.page}}"><a href="#{{ event.page}}">{{ event.title }}</a></li>
{% endfor %}
<li class="btn-explore"><a href="#1">Start Exploring</a></li>
{% endblock %}

{% block app_actions %}

<span>Created by Shawn and Sam, Brigham Young University 2016.</span><br>
<span>Disclaimer: Locations and event details were collected from various sources.</span>
<a href="#1" class="btn btn-default btn-explore">Start Exploring</a>
<a id="btn-next" class="btn btn-default hidden">Next Event</a>
<a href="#0" id="btn-home" class="btn btn-default hidden">Home</a>
<a id="btn-prev" class="btn btn-default hidden">Previous Event</a>

{% endblock %}